body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #1b1010;
    position: relative;
    height: 220rem;
}

header {
    display: flex;
    justify-content: space-between;
    background-color: #742020;
    color: #fff;
    padding-left: 20px;
    position: fixed;
    width: 100vw;
    padding: 20px;
    height: 8vh;
    min-height: 50px;
    z-index: 3;
    align-items: center;
}

.button-header {
    padding: 8px 16px;
    background-color: #3b1414;
    /* Adjust button color as needed */
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.button-header:hover {
    background-color: #664343;
}

.background-image-container img {
    width: 100vw;
}

.background-image-container {
    position: absolute;
    z-index: -1;
    filter: blur(5px);
}

.button-registrarse {
    padding: 8px 16px;
    background-color: #471010;
    /* Adjust button color as needed */
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.button-registrarse:hover {
    background-color: #664343;
}

.contenido,
.buscador {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    text-align: center;
    padding-top: 8vh;
    min-height: 85vh;
    flex-direction: column;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.search-input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 8px;
    width: 200px;
    /* Adjust width as needed */
}

.button-buscar {
    padding: 8px 16px;
    background-color: #742020;
    /* Adjust button color as needed */
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* Optional: Hover effect for the button */
.button-buscar:hover {
    background-color: #3d3d3d;
    /* Adjust hover color as needed */
}

.button-cac-movies {
    justify-content: flex-start;
    font-size: 2rem;
    background-color: transparent;
    border: none;
    color: white;
    cursor: pointer;
}

/*Animacion del boton cac-movies*/
.button-cac-movies:hover {
    animation: buzz 0.2s infinite alternate;
    /* Buzz animation */
}

@keyframes buzz {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-10px);
        /* Adjust distance as needed */
    }
}

.buttons-header {
    padding-right: 3rem;
}

.titulo-main,
.subtitulo-main {
    color: #fff;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.tendencias-texto {
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    text-align: center;
    padding-top: 8vh;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.movie-container {
    /*display: grid;*/
    /*justify-content: center;*/
    /*grid-template-columns: 13vw 13vw 13vw 13vw 13vw;*/
    /*grid-row-gap: 150px;*/
    /*grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));*/
}

.card {
    background: none;
    transition: 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;

}

.card h2 {
    position: absolute;
    color: rgba(255, 255, 255, 0);
    transition: 0.5s;
}

.card:hover h2 {
    color: white;
    font-size: medium;
}

.card:hover {
    width: 80%;
    height: 80%;
}

.card img {
    width: 100%;
}

.card img:hover {
    filter: blur(3px);
}

.movie-container div {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 35px;
    padding-right: 35px;
}

.button-pie {
    padding: 8px 16px;
    background-color: #3b1414;
    /* Adjust button color as needed */
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.button-pie:hover {
    background-color: #664343;
}

footer {
    display: flex;
    justify-content: end;
    background-color: #742020;
    color: #fff;
    padding-right: 3rem;
    width: 100vw;
    text-align: center;
    height: 7vh;
    position: absolute;
    bottom: 0;
    align-items: center;
}